.btnContainer button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnStart {
    max-width: 15vw;
    margin: 2vw;
    padding: 10px;
    font-size: 2.5vw;
    background-color: red;
    color: rgb(64, 64, 65);
}

.btnCancel {
    padding: 3px;
    background-color: #b013db;
}