.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 3vw;
  color: darkslategrey;
  letter-spacing: 0.2vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.content {
  display: flex;
}